<!DOCTYPE html>
<html>
<head>
  <title>HTML, CSS and JavaScript demo</title>
  <link type="text/css" rel="stylesheet" href="style1.css"/>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>





</head>
<body >

  <div id="app">
      <p>{{ message }}</p>
      <input type="text" v-model="message"/>
  </div>





  <div style="text-align: center;margin-top: 100px;background-color: #FFFFFF;">
    <img class="avatar"  src="./image/1.png"  alt="李大锤子" />
  </div>

  <div style="width:100%;top:100;text-align: center;">
    <h1 id="index-header-title">LDCZ's HOME</h1>
  </div>


<div id="menu-bar">


<div id="menu-horizontal" class="menu-horizontal" >
  <nav>
    <ul >
      <li v-for="item in menu"><a :href='item.url'><span>&nbsp;{{item.text}}&nbsp;</span></a></li>
    </ul>
  </nav> 
</div>

<div id="menu-vertical" class="menu-vertical">
  <div style=" background-color: #FFFFFF;">
    <button id="ctrButton" class="navbar-burger is-active" >
      X
    </button>    
  </div>
  <div id="menu" class="menu">
    <ul>
        <li v-for="item in menu"><a :href='item.url'><span>&nbsp;{{item.text}}&nbsp;</span></a></li>
    </ul>
  </div>
</div>
  
</div>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>