




#toolbar1 {
    position: fixed;
    width: 100%;
    bottom: 0;
}

#toolbar1 ul {
    margin: 0;
    padding: 5px 0 0 6px;
    height: 35px;
    list-style: none;
}

#toolbar1 li {
    display: block;
    float: left;
    margin: 0 2em 0 0;
}

#toolbar1 select {
    width: 100px;
    height: 30px;
    font-size: inherit;
}




.box1{
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #442077;
    }
.box1 ul{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

.box1 ul li{
    list-style: none;
    height: 100px;
    margin: 0 auto;
    }


.image1{ 

    margin-top: 100px; 
    width:200px; 
    height:200px; 
    border-radius:200px; 
}

.image2{
    margin-top: 100px; 
    width:200px; 
    height:200px; 
    border-radius:20px; 
}

#index-header-title{font-weight:800;font-size:2.5rem;color:#34495e;text-shadow:2px 2px #7f8c8d}





.avatar{
    border:2px solid #fff;
    border-radius:50%;
    background-color:#ecf0f1;
    box-shadow:0 0 3px 1px rgba(0,0,0,.3)
}
.avatar-small{
    width:30px;height:30px;
    cursor:pointer
}
/*#main-article{padding:16px;background-color:#fff}*/

#bottombar {
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #007077;
}




.image{ 
    width:150px; 
    height:150px; 
    border-radius:150px; 
}

.lw 
{ 
  font-size: 10px; 
  text-align: center;
}



.menu-horizontal 
{
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
  left:0;
  bottom: 0;
}

.menu-horizontal ui 
{
  background-color: #ff008B;
  /* width: 100%; */
  /* height: 60em; */
  /* bottom: 0; */
/* display: inline-block; */
} 
.menu-horizontal ul li{
    text-align:center;
    list-style: none;
    display: inline-table;
    }

.menu-vertical 
{
  background-color: #eeeeee;
  position: fixed;
  width: 100%;
  bottom: 0;
  left:0;

}

.menu-vertical ui 
{
  background-color: #ffff00; 
/*   width: 100%;
  height: 60em;
  bottom: 0; */
} 
.menu-vertical ul li{
    text-align:center;
    list-style: none;
    /* display: block; */
    }

.navbar-burger{
  cursor:pointer;display:block;height:3.25rem;position:relative;width:3.25rem;margin-left:auto;}

/* .navbar-burger span:nth-child(1){top:calc(50% - 6px)}
.navbar-burger span:nth-child(2){top:calc(50% - 1px)}
.navbar-burger span:nth-child(3){top:calc(50% + 4px)}
.navbar-burger:hover{background-color:rgb(0,0,0)}
.navbar-burger.is-active span:nth-child(1){transform:translateY(5px) rotate(45deg)}
.navbar-burger.is-active span:nth-child(2){opacity:0}
.navbar-burger.is-active span:nth-child(3){transform:translateY(-5px) rotate(-45deg)} */

.menu
{
    background-color: #FFFFe0;
    margin:-15 0;
    padding:0 0;
}